<?xml version="1.0" encoding="UTF-8"?>
<module configVersion="1.2">
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Michael Seaton</author>
	<description>${project.parent.description}</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>

	<activator>${project.parent.groupId}.${project.parent.artifactId}.ModuleActivator</activator>

	<require_modules>
		<require_module>org.openmrs.module.initializer</require_module>
		<require_module>org.openmrs.module.webservices.rest</require_module>
	</require_modules>

</module>
